buttonimgs
.buttons {
    display: flex;
}

button {
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    margin-right: 7.5vw;
    max-width: 40vw;
    height: auto;
    padding-top: 7.5vw;
}
/*
    From Lewis Donovan https://stackoverflow.com/questions/18815157/how-to-overlay-image-with-color-in-css
*/
button:hover {
    filter: hue-rotate(100deg);
}

#petImg {
    max-height: 100vw;
    border-radius: 10%;
}


body {
    background-color: rgb(134, 130, 130);
}

.hero {
    background-image:  url("E:/repos/projects/pet-facts/images/paw-print.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 
}
