:root {
    background-color: rgb(134, 130, 130);
}

.buttons {
    display: flex;
}

button {
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    margin-right: 7.5vw;
    max-width: 40vw;
    height: auto;
    padding-top: 2vw;
}
/*
    From Lewis Donovan https://stackoverflow.com/questions/18815157/how-to-overlay-image-with-color-in-css
*/
button:hover {
    filter: hue-rotate(75deg);
}

#petImg {
    max-height: 50vw;
}


.hero {
    background-image: url("../images/paw-print.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 
}

.heroTitle {
    background-color: rgb(242, 240, 240, .95);
    width: 50vw;
    height: auto;
    padding: 1vw;
}

.subtitle {
    padding-left: 9vw;
}

#petImg {
    width: 100%;
    padding-left: .8vw;
    height: auto;
}

#pets {
    width: 65vw;
    margin-bottom: 21px;
}

#pets button {
    color: white;
    font-size: 10px;
    padding-left: 5vw;
    padding-bottom: 5vw;
}

#pets button:hover {
    color: rgb(35, 209, 96);
}

#saveFact {
    display: none;
}

input {
    width: 50%;
}